.container {
	height :1200px ;
	width :994px ;
	margin : 0 auto;	
}



h1 {
	font-siz:52px;
	font-family:Terminal Dosis;
	color:#505050;

}
#phaut{
	text-align :left;
}

.nav {
	width : 900px;
	height : 59px;
	text-align : center;
	background : center;
	margin top : 25px;
	margin bottom : 25px;
}

#loupe {
	text-align : right;
}


img { 
        width :900px;
        height : 504px;
	margin :auto;

}

h2 {
	font-size:28px;
	font-family:Terminal Dosis;
	color:#606060;
	text-align: center; 
}

p {
	font-size:13px;
	font-family:Helvetica Neue;
	color:#606060;
	text-align: center;
}

#soustitre {
	color : #A6A6A6;
}
